:root { 
--white_A700_4c:#ffffff4c; 
--blue_gray_100:#d9d9d9; 
--blue_gray_100_00:#d5d9e500; 
--gray_900_87:#10102a87; 
--blue_gray_100_01:#d5d8e5; 
--gray_900_00:#10102a00; 
--gray_900:#10102a; 
--blue_gray_100_02:#d5d9e5; 
--gray_900_9e:#10102a9e; 
--white_A700_71:#ffffff71; 
--cyan_200:#92deed; 
--white_A700_87:#ffffff87; 
--white_A700_33:#ffffff33; 
--white_A700_00:#ffffff00; 
--white_A700_19:#ffffff19; 
--white_A700:#ffffff; 
--white_A700_9e:#ffffff9e; 
}